@charset "utf-8";
*{margin: 0; padding: 0; border: 0;}
li{list-style: none;}
a{text-decoration: none;}
#wrap{margin: 0 auto; width: 100%;}
div.hamberger{width: 1000px; height: 400px; text-align: center; background-color: lightgreen; padding: 1rem;}

input[id="hamberger"]{display:none}
input[id="hamberger"]:checked + label span:nth-child(1){
  top: 50%; transform: translateY(-50%) rotate(45deg);
}
input[id="hamberger"]:checked + label span:nth-child(2){
  opacity: 0;
}
input[id="hamberger"]:checked + label span:nth-child(3){
  bottom: 50%; transform: translateY(50%) rotate(-45deg);
}
label{display:inline-block; width: 60px; height: 40px; position: relative; cursor: pointer;}
label span{display:block;
position: absolute; width: 100%; height: 5px; border-radius: 30px; background-color: #000; transition: .4s;}
span:nth-child(1){
  top: 0;
}
span:nth-child(2){
  top: 50%; transform: translateY(-50%);
}
span:nth-child(3){
  bottom: 0;
}